<h1> Pyspark Problems

In [1]:
import pyspark as spark

In [2]:
print(spark.version)

<module 'pyspark.version' from 'C:\\Users\\Lenovo\\AppData\\Roaming\\Python\\Python312\\site-packages\\pyspark\\version.py'>

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\day_wise.csv",header=True,inferSchema=True)

df.show() #it shows the rows but by default it shows only top 20 rows

df.count() #this will count the number of rows

+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|      Date|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|No. of countries|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|2020-01-22|      555|    17|       28|   510|        0|         0|            0|              3.06|                 5.05|                 60.71|               6|
|2020-01-23|      654|    18|       30|   606|       99|         1|            2|              2.75|                 4.59|                  60.0|               8|
|2020-01-24|      941|    26|       36|   879|      287|         8|            6|              2.76|                 3.83|                 72.22|               9|
|2020-01-25|     1434|    42|       39|  1353|      493|        16|            3|              2.93|                 2.72|                107.69|              11|
|2020-01-26|     2118|    56|       52|  2010|      684|        14|           13|              2.64|                 2.46|                107.69|              13|
|2020-01-27|     2927|    82|       61|  2784|      809|        26|            9|               2.8|                 2.08|                134.43|              16|
|2020-01-28|     5578|   131|      107|  5340|     2651|        49|           46|              2.35|                 1.92|                122.43|              16|
|2020-01-29|     6166|   133|      125|  5908|      588|         2|           18|              2.16|                 2.03|                 106.4|              18|
|2020-01-30|     8234|   171|      141|  7922|     2068|        38|           16|              2.08|                 1.71|                121.28|              20|
|2020-01-31|     9927|   213|      219|  9495|     1693|        42|           78|              2.15|                 2.21|                 97.26|              24|
|2020-02-01|    12038|   259|      281| 11498|     2111|        46|           62|              2.15|                 2.33|                 92.17|              25|
|2020-02-02|    16787|   362|      459| 15966|     4749|       103|          178|              2.16|                 2.73|                 78.87|              25|
|2020-02-03|    19887|   426|      604| 18857|     3100|        64|          145|              2.14|                 3.04|                 70.53|              25|
|2020-02-04|    23898|   492|      821| 22585|     4011|        66|          217|              2.06|                 3.44|                 59.93|              26|
|2020-02-05|    27643|   564|     1071| 26008|     3745|        72|          250|              2.04|                 3.87|                 52.66|              26|
|2020-02-06|    30802|   634|     1418| 28750|     3159|        70|          347|              2.06|                  4.6|                 44.71|              26|
|2020-02-07|    34334|   719|     1903| 31712|     3532|        85|          485|              2.09|                 5.54|                 37.78|              26|
|2020-02-08|    37068|   806|     2470| 33792|     2734|        87|          567|              2.17|                 6.66|                 32.63|              26|
|2020-02-09|    40095|   906|     3057| 36132|     3027|       100|          587|              2.26|                 7.62|                 29.64|              26|
|2020-02-10|    42633|  1013|     3714| 37906|     2538|       107|          657|              2.38|                 8.71|                 27.28|              26|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
only showing top 20 rows

188

In [7]:
df=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\day_wise.csv",header=True,inferSchema=True)

df.sample(fraction=0.08).show(10)  #here the fraction specifies that from what percent it return , we can give 0.1 to 1.0

+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|      Date|Confirmed|Deaths|Recovered| Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|No. of countries|
+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|2020-02-05|    27643|   564|     1071|  26008|     3745|        72|          250|              2.04|                 3.87|                 52.66|              26|
|2020-02-21|    76206|  2250|    17966|  55990|      629|         4|          597|              2.95|                23.58|                 12.52|              30|
|2020-03-31|   871355| 44478|   174074| 652803|    76416|      4844|        12367|               5.1|                19.98|                 25.55|             179|
|2020-04-10|  1671907|108551|   367477|1195879|    87658|      7272|        21128|              6.49|                21.98|                 29.54|             184|
|2020-04-16|  2162715|148591|   529015|1485109|    96712|      7283|        30090|              6.87|                24.46|                 28.09|             184|
|2020-04-24|  2806267|201401|   771329|1833537|    96974|      6674|        49640|              7.18|                27.49|                 26.11|             184|
|2020-05-11|  4180268|287608|  1416204|2476456|    76298|      3473|        46096|              6.88|                33.88|                 20.31|             186|
|2020-05-24|  5417579|346525|  2117555|2953499|    95326|      3140|        54753|               6.4|                39.09|                 16.36|             187|
|2020-05-25|  5504542|347703|  2180605|2976234|    87335|      1178|        63050|              6.32|                39.61|                 15.95|             187|
|2020-05-27|  5699664|357119|  2297613|3044932|   102600|      5213|        62495|              6.27|                40.31|                 15.54|             187|
+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
only showing top 10 rows

In [8]:
df=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\day_wise.csv",header=True,inferSchema=True)

df.sample(fraction=0.08,seed=41).show(10)

print(df.printSchema())

+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|      Date|Confirmed|Deaths|Recovered| Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|No. of countries|
+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|2020-02-03|    19887|   426|      604|  18857|     3100|        64|          145|              2.14|                 3.04|                 70.53|              25|
|2020-02-09|    40095|   906|     3057|  36132|     3027|       100|          587|              2.26|                 7.62|                 29.64|              26|
|2020-02-14|    66690|  1523|     7613|  57554|     6484|       152|         1683|              2.28|                11.42|                 20.01|              27|
|2020-02-15|    68765|  1666|     8902|  58197|     2075|       143|         1289|              2.42|                12.95|                 18.71|              27|
|2020-02-21|    76206|  2250|    17966|  55990|      629|         4|          597|              2.95|                23.58|                 12.52|              30|
|2020-03-05|    97331|  3342|    52237|  41752|     2791|        93|         2618|              3.43|                53.67|                   6.4|              84|
|2020-04-10|  1671907|108551|   367477|1195879|    87658|      7272|        21128|              6.49|                21.98|                 29.54|             184|
|2020-04-28|  3108149|221974|   884680|2001495|    75404|      6463|        32298|              7.14|                28.46|                 25.09|             184|
|2020-05-03|  3515244|248659|  1097577|2169008|    77636|      3453|        31215|              7.07|                31.22|                 22.66|             186|
|2020-05-08|  3941935|276304|  1284849|2380782|    92997|      5568|        35538|              7.01|                32.59|                  21.5|             186|
+----------+---------+------+---------+-------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
only showing top 10 rows

root
 |-- Date: date (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Active: integer (nullable = true)
 |-- New cases: integer (nullable = true)
 |-- New deaths: integer (nullable = true)
 |-- New recovered: integer (nullable = true)
 |-- Deaths / 100 Cases: double (nullable = true)
 |-- Recovered / 100 Cases: double (nullable = true)
 |-- Deaths / 100 Recovered: double (nullable = true)
 |-- No. of countries: integer (nullable = true)

None

In [9]:
df=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\day_wise.csv",header=True,inferSchema=True)

df.dtypes

[('Date', 'date'),
 ('Confirmed', 'int'),
 ('Deaths', 'int'),
 ('Recovered', 'int'),
 ('Active', 'int'),
 ('New cases', 'int'),
 ('New deaths', 'int'),
 ('New recovered', 'int'),
 ('Deaths / 100 Cases', 'double'),
 ('Recovered / 100 Cases', 'double'),
 ('Deaths / 100 Recovered', 'double'),
 ('No. of countries', 'int')]

In [10]:

df=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\day_wise.csv",header=True,inferSchema=True)


df.columns #it will shows all the columns

['Date',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'New cases',
 'New deaths',
 'New recovered',
 'Deaths / 100 Cases',
 'Recovered / 100 Cases',
 'Deaths / 100 Recovered',
 'No. of countries']

In [11]:
df=spark.read.csv("C:/Users/Lenovo/Downloads/dyd/data/usa_county_wise.csv",header=True,inferSchema=True)

#df.describe("Confirmed", "Deaths", "Recovered", "Active").show(5, truncate=False)

#df.select("Confirmed").summary("count", "mean", "min", "max").show()

df.describe()

DataFrame[summary: string, UID: string, iso2: string, iso3: string, code3: string, FIPS: string, Admin2: string, Province_State: string, Country_Region: string, Lat: string, Long_: string, Combined_Key: string, Date: string, Confirmed: string, Deaths: string]

In [12]:
df.describe().show()

+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+
|summary|                UID|  iso2|  iso3|             code3|              FIPS|   Admin2|Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|         Confirmed|           Deaths|
+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+
|  count|             627920|627920|627920|            627920|            626040|   626792|        627920|        627920|             627920|            627920|              627920| 627920|            627920|           627920|
|   mean|8.342957994550899E7|  NULL|  NULL|  834.491616766467| 33061.68468468468|     NULL|          NULL|          NULL|  36.70721244570872|-88.60147445561189|                NULL|   NULL|357.28428462224485|17.53632787616257|
| stddev|  4314702.339347854|  NULL|  NULL|36.492620240099704|18636.156825347312|     NULL|          NULL|          NULL|   9.06157189067228|21.715747344705864|                NULL|   NULL| 3487.282693522076|300.9914658104832|
|    min|                 16|    AS|   ASM|                16|              60.0|Abbeville|       Alabama|            US|-14.270999999999999|         -174.1596|Abbeville, South ...|1/22/20|                 0|                0|
|    max|           84099999|    VI|   VIR|               850|           99999.0|  Ziebach|       Wyoming|            US|        69.31479216|          145.6739|Ziebach, South Da...| 7/9/20|            224051|            23500|
+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+

In [13]:
# summary = df.describe("summary", "UID", "iso2", "iso3").collect()
# for row in summary:
#     print(row)

In [14]:

# from pyspark.sql import SparkSession, Row

# spark=SparkSession.builder.appName("Rows").getOrCreate()

# data=[Row(name="Pavan",age=22),Row(name="Kumar",age=21)]
# df=spark.createDataFrame(data)

#  df.show()

In [20]:

# from pyspark.sql import SparkSession, Row

# spark = SparkSession.builder.appName("RowExample").getOrCreate()


# data1=[("Arun",20),("Bib",22)]
# columns=["Name","Age"]

# df1=spark.createDataFrame(data1,columns)
# df1.show()

In [21]:
df_new=spark.read.csv("C:/Users/Lenovo/Downloads/dyd/data/usa_county_wise.csv",header=True,inferSchema=True)

df_new.describe().show()

+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+
|summary|                UID|  iso2|  iso3|             code3|              FIPS|   Admin2|Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|         Confirmed|           Deaths|
+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+
|  count|             627920|627920|627920|            627920|            626040|   626792|        627920|        627920|             627920|            627920|              627920| 627920|            627920|           627920|
|   mean|8.342957994550899E7|  NULL|  NULL|  834.491616766467| 33061.68468468468|     NULL|          NULL|          NULL|  36.70721244570872|-88.60147445561189|                NULL|   NULL|357.28428462224485|17.53632787616257|
| stddev|  4314702.339347854|  NULL|  NULL|36.492620240099704|18636.156825347312|     NULL|          NULL|          NULL|   9.06157189067228|21.715747344705864|                NULL|   NULL| 3487.282693522076|300.9914658104832|
|    min|                 16|    AS|   ASM|                16|              60.0|Abbeville|       Alabama|            US|-14.270999999999999|         -174.1596|Abbeville, South ...|1/22/20|                 0|                0|
|    max|           84099999|    VI|   VIR|               850|           99999.0|  Ziebach|       Wyoming|            US|        69.31479216|          145.6739|Ziebach, South Da...| 7/9/20|            224051|            23500|
+-------+-------------------+------+------+------------------+------------------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+------------------+-----------------+

<h1> Read Operations

In [22]:
df_new.select("UID").show()

+--------+
|     UID|
+--------+
|      16|
|     316|
|     580|
|63072001|
|63072003|
|63072005|
|63072007|
|63072009|
|63072011|
|63072013|
|63072015|
|63072017|
|63072019|
|63072021|
|63072023|
|63072025|
|63072027|
|63072029|
|63072031|
|63072033|
+--------+
only showing top 20 rows

In [23]:
df_new.select(*df_new.columns).sample(fraction=0.5,seed=123).show(5)

+--------+----+----+-----+-------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|   Admin2|Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|      16|  AS| ASM|   16|   60.0|     NULL|American Samoa|            US|-14.270999999999999|          -170.132|  American Samoa, US|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0| Adjuntas|   Puerto Rico|            US| 18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|   Aguada|   Puerto Rico|            US|          18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|
|63072005|  PR| PRI|  630|72005.0|Aguadilla|   Puerto Rico|            US|          18.459681|-67.12081500000001|Aguadilla, Puerto...|1/22/20|        0|     0|
|63072015|  PR| PRI|  630|72015.0|   Arroyo|   Puerto Rico|            US| 17.998457000000005|        -66.056546|Arroyo, Puerto Ri...|1/22/20|        0|     0|
+--------+----+----+-----+-------+---------+--------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
only showing top 5 rows

In [ ]:
df_new.filter(df_new.UID>317).show()

+--------+----+----+-----+-------+------------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|      Admin2|      Province_State|Country_Region|               Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+------------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|     580|  MP| MNP|  580|   69.0|        NULL|Northern Mariana ...|            US|           15.0979|          145.6739|Northern Mariana ...|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0|    Adjuntas|         Puerto Rico|            US|18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|      Aguada|         Puerto Rico|            US|         18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|
|63072005|  PR| PRI|  630|72005.0|   Aguadilla|         Puerto Rico|            US|         18.459681|-67.12081500000001|Aguadilla, Puerto...|1/22/20|        0|     0|
|63072007|  PR| PRI|  630|72007.0|Aguas Buenas|         Puerto Rico|            US|         18.251619|        -66.126806|Aguas Buenas, Pue...|1/22/20|        0|     0|
|63072009|  PR| PRI|  630|72009.0|    Aibonito|         Puerto Rico|            US|         18.131361|        -66.264131|Aibonito, Puerto ...|1/22/20|        0|     0|
|63072011|  PR| PRI|  630|72011.0|      Anasco|         Puerto Rico|            US|         18.287985|        -67.120611|Anasco, Puerto Ri...|1/22/20|        0|     0|
|63072013|  PR| PRI|  630|72013.0|     Arecibo|         Puerto Rico|            US|         18.406631|        -66.675077|Arecibo, Puerto R...|1/22/20|        0|     0|
|63072015|  PR| PRI|  630|72015.0|      Arroyo|         Puerto Rico|            US|17.998457000000005|        -66.056546|Arroyo, Puerto Ri...|1/22/20|        0|     0|
|63072017|  PR| PRI|  630|72017.0| Barceloneta|         Puerto Rico|            US|18.445532999999998|-66.56053100000001|Barceloneta, Puer...|1/22/20|        0|     0|
|63072019|  PR| PRI|  630|72019.0|Barranquitas|         Puerto Rico|            US|         18.201592|         -66.30963|Barranquitas, Pue...|1/22/20|        0|     0|
|63072021|  PR| PRI|  630|72021.0|     Bayamon|         Puerto Rico|            US|          18.34946|        -66.168435|Bayamon, Puerto R...|1/22/20|        0|     0|
|63072023|  PR| PRI|  630|72023.0|   Cabo Rojo|         Puerto Rico|            US|         18.040993|        -67.154391|Cabo Rojo, Puerto...|1/22/20|        0|     0|
|63072025|  PR| PRI|  630|72025.0|      Caguas|         Puerto Rico|            US|         18.211615|        -66.050779|Caguas, Puerto Ri...|1/22/20|        0|     0|
|63072027|  PR| PRI|  630|72027.0|       Camuy|         Puerto Rico|            US|         18.418578|        -66.860206|Camuy, Puerto Ric...|1/22/20|        0|     0|
|63072029|  PR| PRI|  630|72029.0|   Canovanas|         Puerto Rico|            US|         18.328802|        -65.887612|Canovanas, Puerto...|1/22/20|        0|     0|
|63072031|  PR| PRI|  630|72031.0|    Carolina|         Puerto Rico|            US|         18.374986|-65.95683100000001|Carolina, Puerto ...|1/22/20|        0|     0|
|63072033|  PR| PRI|  630|72033.0|      Catano|         Puerto Rico|            US|         18.437269|-66.14330600000001|Catano, Puerto Ri...|1/22/20|        0|     0|
|63072035|  PR| PRI|  630|72035.0|       Cayey|         Puerto Rico|            US|         18.102851|         -66.14914|Cayey, Puerto Ric...|1/22/20|        0|     0|
|63072037|  PR| PRI|  630|72037.0|       Ceiba|         Puerto Rico|            US|         18.251818|        -65.666416|Ceiba, Puerto Ric...|1/22/20|        0|     0|
+--------+----+----+-----+-------+------------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
only showing top 20 rows

In [24]:
df_new.printSchema()

df_new.dtypes

df_new.schema

root
 |-- UID: integer (nullable = true)
 |-- iso2: string (nullable = true)
 |-- iso3: string (nullable = true)
 |-- code3: integer (nullable = true)
 |-- FIPS: double (nullable = true)
 |-- Admin2: string (nullable = true)
 |-- Province_State: string (nullable = true)
 |-- Country_Region: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long_: double (nullable = true)
 |-- Combined_Key: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)

StructType([StructField('UID', IntegerType(), True), StructField('iso2', StringType(), True), StructField('iso3', StringType(), True), StructField('code3', IntegerType(), True), StructField('FIPS', DoubleType(), True), StructField('Admin2', StringType(), True), StructField('Province_State', StringType(), True), StructField('Country_Region', StringType(), True), StructField('Lat', DoubleType(), True), StructField('Long_', DoubleType(), True), StructField('Combined_Key', StringType(), True), StructField('Date', StringType(), True), StructField('Confirmed', IntegerType(), True), StructField('Deaths', IntegerType(), True)])

In [25]:
from  pyspark.sql.functions import col

df_new.select(col("UID").alias("uid_number")).show()

+----------+
|uid_number|
+----------+
|        16|
|       316|
|       580|
|  63072001|
|  63072003|
|  63072005|
|  63072007|
|  63072009|
|  63072011|
|  63072013|
|  63072015|
|  63072017|
|  63072019|
|  63072021|
|  63072023|
|  63072025|
|  63072027|
|  63072029|
|  63072031|
|  63072033|
+----------+
only showing top 20 rows

In [26]:
df_new.selectExpr("UID","CODE3 + 10 as added_code3","upper(Province_state) as upper_provincestate").sample(fraction=0.5,seed=123).show(5)

+--------+-----------+-------------------+
|     UID|added_code3|upper_provincestate|
+--------+-----------+-------------------+
|      16|         26|     AMERICAN SAMOA|
|63072001|        640|        PUERTO RICO|
|63072003|        640|        PUERTO RICO|
|63072005|        640|        PUERTO RICO|
|63072015|        640|        PUERTO RICO|
+--------+-----------+-------------------+
only showing top 5 rows

<h2>Filter comand

In [27]:

df_new.filter(df_new.UID>317).show(3)

df_new.selectExpr("UID").where(df_new.UID>317).show(3)

+--------+----+----+-----+-------+--------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|  Admin2|      Province_State|Country_Region|               Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+--------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|     580|  MP| MNP|  580|   69.0|    NULL|Northern Mariana ...|            US|           15.0979|          145.6739|Northern Mariana ...|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0|Adjuntas|         Puerto Rico|            US|18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|  Aguada|         Puerto Rico|            US|         18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|
+--------+----+----+-----+-------+--------+--------------------+--------------+------------------+------------------+--------------------+-------+---------+------+
only showing top 3 rows

+--------+
|     UID|
+--------+
|     580|
|63072001|
|63072003|
+--------+
only showing top 3 rows

<h1>
withcolumn

In [28]:
from pyspark.sql.functions import col

df2=df_new.withColumn("updated_code3",col("code3")+10)

In [29]:
from pyspark.sql.functions import when,col

#here when() is not a method on DataFrame,
#it is a function used inside .withColumn() or .selectExpr()  
df3=df_new.withColumn("new_deaths",when(col("Deaths")>100,"more deaths").otherwise("less deaths"))

df3.where(col("new_deaths") == "more deaths").select("new_deaths","UID").show()

+-----------+--------+
| new_deaths|     UID|
+-----------+--------+
|more deaths|84036061|
|more deaths|84036061|
|more deaths|84036061|
|more deaths|84036061|
|more deaths|84036061|
|more deaths|84036061|
|more deaths|84053033|
|more deaths|84036061|
|more deaths|84053033|
|more deaths|84036061|
|more deaths|84053033|
|more deaths|84036061|
|more deaths|84053033|
|more deaths|84090038|
|more deaths|84036061|
|more deaths|84053033|
|more deaths|84090038|
|more deaths|84026163|
|more deaths|84036061|
|more deaths|84053033|
+-----------+--------+
only showing top 20 rows

<h1>literal

lit() stands for "literal", and it's used to add constant values into columns or expressions in a DataFrame.

In [30]:
from pyspark.sql.functions import lit

df_new.withColumn("country",lit("India")).show()

+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+-------+
|     UID|iso2|iso3|code3|   FIPS|      Admin2|      Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|country|
+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+-------+
|      16|  AS| ASM|   16|   60.0|        NULL|      American Samoa|            US|-14.270999999999999|          -170.132|  American Samoa, US|1/22/20|        0|     0|  India|
|     316|  GU| GUM|  316|   66.0|        NULL|                Guam|            US|            13.4443|          144.7937|            Guam, US|1/22/20|        0|     0|  India|
|     580|  MP| MNP|  580|   69.0|        NULL|Northern Mariana ...|            US|            15.0979|          145.6739|Northern Mariana ...|1/22/20|        0|     0|  India|
|63072001|  PR| PRI|  630|72001.0|    Adjuntas|         Puerto Rico|            US| 18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|  India|
|63072003|  PR| PRI|  630|72003.0|      Aguada|         Puerto Rico|            US|          18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|  India|
|63072005|  PR| PRI|  630|72005.0|   Aguadilla|         Puerto Rico|            US|          18.459681|-67.12081500000001|Aguadilla, Puerto...|1/22/20|        0|     0|  India|
|63072007|  PR| PRI|  630|72007.0|Aguas Buenas|         Puerto Rico|            US|          18.251619|        -66.126806|Aguas Buenas, Pue...|1/22/20|        0|     0|  India|
|63072009|  PR| PRI|  630|72009.0|    Aibonito|         Puerto Rico|            US|          18.131361|        -66.264131|Aibonito, Puerto ...|1/22/20|        0|     0|  India|
|63072011|  PR| PRI|  630|72011.0|      Anasco|         Puerto Rico|            US|          18.287985|        -67.120611|Anasco, Puerto Ri...|1/22/20|        0|     0|  India|
|63072013|  PR| PRI|  630|72013.0|     Arecibo|         Puerto Rico|            US|          18.406631|        -66.675077|Arecibo, Puerto R...|1/22/20|        0|     0|  India|
|63072015|  PR| PRI|  630|72015.0|      Arroyo|         Puerto Rico|            US| 17.998457000000005|        -66.056546|Arroyo, Puerto Ri...|1/22/20|        0|     0|  India|
|63072017|  PR| PRI|  630|72017.0| Barceloneta|         Puerto Rico|            US| 18.445532999999998|-66.56053100000001|Barceloneta, Puer...|1/22/20|        0|     0|  India|
|63072019|  PR| PRI|  630|72019.0|Barranquitas|         Puerto Rico|            US|          18.201592|         -66.30963|Barranquitas, Pue...|1/22/20|        0|     0|  India|
|63072021|  PR| PRI|  630|72021.0|     Bayamon|         Puerto Rico|            US|           18.34946|        -66.168435|Bayamon, Puerto R...|1/22/20|        0|     0|  India|
|63072023|  PR| PRI|  630|72023.0|   Cabo Rojo|         Puerto Rico|            US|          18.040993|        -67.154391|Cabo Rojo, Puerto...|1/22/20|        0|     0|  India|
|63072025|  PR| PRI|  630|72025.0|      Caguas|         Puerto Rico|            US|          18.211615|        -66.050779|Caguas, Puerto Ri...|1/22/20|        0|     0|  India|
|63072027|  PR| PRI|  630|72027.0|       Camuy|         Puerto Rico|            US|          18.418578|        -66.860206|Camuy, Puerto Ric...|1/22/20|        0|     0|  India|
|63072029|  PR| PRI|  630|72029.0|   Canovanas|         Puerto Rico|            US|          18.328802|        -65.887612|Canovanas, Puerto...|1/22/20|        0|     0|  India|
|63072031|  PR| PRI|  630|72031.0|    Carolina|         Puerto Rico|            US|          18.374986|-65.95683100000001|Carolina, Puerto ...|1/22/20|        0|     0|  India|
|63072033|  PR| PRI|  630|72033.0|      Catano|         Puerto Rico|            US|          18.437269|-66.14330600000001|Catano, Puerto Ri...|1/22/20|        0|     0|  India|
+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+-------+
only showing top 20 rows

<h2>distinct

In [31]:
df_new.distinct().show()

df_new.distinct().count()

df_new.count()

+--------+----+----+-----+-------+-----------+--------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|     Admin2|Province_State|Country_Region|               Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+-----------+--------------+--------------+------------------+------------------+--------------------+-------+---------+------+
|84002060|  US| USA|  840| 2060.0|Bristol Bay|        Alaska|            US|       58.74513976|       -156.701064|Bristol Bay, Alas...|1/22/20|        0|     0|
|84012081|  US| USA|  840|12081.0|    Manatee|       Florida|            US|       27.47196942|      -82.31831044|Manatee, Florida, US|1/22/20|        0|     0|
|84013301|  US| USA|  840|13301.0|     Warren|       Georgia|            US|       33.41146451|      -82.67795848| Warren, Georgia, US|1/22/20|        0|     0|
|84018131|  US| USA|  840|18131.0|    Pulaski|       Indiana|            US|       41.04166107|      -86.69890683|Pulaski, Indiana, US|1/22/20|        0|     0|
|84024001|  US| USA|  840|24001.0|   Allegany|      Maryland|            US|       39.62357628|      -78.69280486|Allegany, Marylan...|1/22/20|        0|     0|
|84028051|  US| USA|  840|28051.0|     Holmes|   Mississippi|            US|       33.12345854|      -90.08923538|Holmes, Mississip...|1/22/20|        0|     0|
|84029007|  US| USA|  840|29007.0|    Audrain|      Missouri|            US|         39.215877|      -91.84242683|Audrain, Missouri...|1/22/20|        0|     0|
|84037069|  US| USA|  840|37069.0|   Franklin|North Carolina|            US|         36.081519|      -78.28708884|Franklin, North C...|1/22/20|        0|     0|
|84039089|  US| USA|  840|39089.0|    Licking|          Ohio|            US|       40.09136236|      -82.48185785|   Licking, Ohio, US|1/22/20|        0|     0|
|84046099|  US| USA|  840|46099.0|  Minnehaha|  South Dakota|            US|       43.67441641|       -96.7910885|Minnehaha, South ...|1/22/20|        0|     0|
|84047073|  US| USA|  840|47073.0|    Hawkins|     Tennessee|            US|       36.44355426|      -82.94885298|Hawkins, Tennesse...|1/22/20|        0|     0|
|84048239|  US| USA|  840|48239.0|    Jackson|         Texas|            US|       28.95472367|      -96.57749563|  Jackson, Texas, US|1/22/20|        0|     0|
|63072055|  PR| PRI|  630|72055.0|    Guanica|   Puerto Rico|            US|         17.982429|-66.91964300000001|Guanica, Puerto R...|1/23/20|        0|     0|
|63072081|  PR| PRI|  630|72081.0|      Lares|   Puerto Rico|            US|18.269035000000002|        -66.867236|Lares, Puerto Ric...|1/23/20|        0|     0|
|63072147|  PR| PRI|  630|72147.0|    Vieques|   Puerto Rico|            US|         18.123276|-65.44097099999999|Vieques, Puerto R...|1/23/20|        0|     0|
|63072153|  PR| PRI|  630|72153.0|      Yauco|   Puerto Rico|            US|         18.080374|        -66.858814|Yauco, Puerto Ric...|1/23/20|        0|     0|
|84005021|  US| USA|  840| 5021.0|       Clay|      Arkansas|            US|       36.36826212|       -90.4148172|  Clay, Arkansas, US|1/23/20|        0|     0|
|84012055|  US| USA|  840|12055.0|  Highlands|       Florida|            US|       27.34254618|      -81.34071957|Highlands, Florid...|1/23/20|        0|     0|
|84016059|  US| USA|  840|16059.0|      Lemhi|         Idaho|            US|        44.9438088|      -113.9309747|    Lemhi, Idaho, US|1/23/20|        0|     0|
|84020111|  US| USA|  840|20111.0|       Lyon|        Kansas|            US|       38.45576156|      -96.15275715|    Lyon, Kansas, US|1/23/20|        0|     0|
+--------+----+----+-----+-------+-----------+--------------+--------------+------------------+------------------+--------------------+-------+---------+------+
only showing top 20 rows

627920

In [32]:
df_new.select("iso3",'code3').distinct().show()

+----+-----+
|iso3|code3|
+----+-----+
| GUM|  316|
| USA|  840|
| VIR|  850|
| ASM|   16|
| MNP|  580|
| PRI|  630|
+----+-----+

In [33]:
from pyspark.sql.functions import count

df_new.select(count("iso3").alias("iso3_count_sir")).show()

+--------------+
|iso3_count_sir|
+--------------+
|        627920|
+--------------+

<h1>drop

In [34]:
df_new.show(5)

df_new.drop("Combined_Key").show(5)

+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|  Admin2|      Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|      16|  AS| ASM|   16|   60.0|    NULL|      American Samoa|            US|-14.270999999999999|          -170.132|  American Samoa, US|1/22/20|        0|     0|
|     316|  GU| GUM|  316|   66.0|    NULL|                Guam|            US|            13.4443|          144.7937|            Guam, US|1/22/20|        0|     0|
|     580|  MP| MNP|  580|   69.0|    NULL|Northern Mariana ...|            US|            15.0979|          145.6739|Northern Mariana ...|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0|Adjuntas|         Puerto Rico|            US| 18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|  Aguada|         Puerto Rico|            US|          18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|
+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
only showing top 5 rows

+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|  Admin2|      Province_State|Country_Region|                Lat|             Long_|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+-------+---------+------+
|      16|  AS| ASM|   16|   60.0|    NULL|      American Samoa|            US|-14.270999999999999|          -170.132|1/22/20|        0|     0|
|     316|  GU| GUM|  316|   66.0|    NULL|                Guam|            US|            13.4443|          144.7937|1/22/20|        0|     0|
|     580|  MP| MNP|  580|   69.0|    NULL|Northern Mariana ...|            US|            15.0979|          145.6739|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0|Adjuntas|         Puerto Rico|            US| 18.180117000000006|        -66.754367|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|  Aguada|         Puerto Rico|            US|          18.360255|-67.17513100000001|1/22/20|        0|     0|
+--------+----+----+-----+-------+--------+--------------------+--------------+-------------------+------------------+-------+---------+------+
only showing top 5 rows

<h2>Aggregate functions

In [35]:
df_new.select("Province_state").distinct().count()

58

In [ ]:
df_new.groupBy("Province_state").count().show()

+--------------------+-----+
|      Province_state|count|
+--------------------+-----+
|                Utah| 6956|
|              Hawaii| 1316|
|           Minnesota|16732|
|                Ohio|16920|
|Northern Mariana ...|  188|
|            Arkansas|14476|
|              Oregon| 7144|
|               Texas|48128|
|        North Dakota|10340|
|        Pennsylvania|12972|
|         Connecticut| 1880|
|            Nebraska|17860|
|             Vermont| 3008|
|      American Samoa|  188|
|              Nevada| 3572|
|         Puerto Rico|15040|
|          Washington| 7708|
|            Illinois|19552|
|            Oklahoma|14852|
|      Virgin Islands|  188|
+--------------------+-----+
only showing top 20 rows

<h2>agg

In [36]:
from pyspark.sql.functions import avg

df_new.groupBy('Province_state').agg(avg("Deaths").alias("avg_deaths")).show()
dir(df_new)

+--------------------+--------------------+
|      Province_state|          avg_deaths|
+--------------------+--------------------+
|                Utah|  2.0455721679125936|
|              Hawaii|  1.5220364741641337|
|           Minnesota|   6.446330384891226|
|                Ohio|   13.17677304964539|
|Northern Mariana ...|  1.2234042553191489|
|            Arkansas|  1.3243299253937553|
|              Oregon|  2.5426931690929453|
|               Texas|   4.374729886968085|
|        North Dakota|  1.2323984526112186|
|        Pennsylvania|   41.41697502312673|
|         Connecticut|  199.12021276595743|
|            Nebraska|  1.0100223964165733|
|             Vermont|  1.9321808510638299|
|      American Samoa|                 0.0|
|              Nevada|  12.620940649496081|
|         Puerto Rico|1.329787234042553...|
|          Washington|   16.20329527763363|
|            Illinois|   27.70417348608838|
|            Oklahoma|  2.3882305413412337|
|      Virgin Islands|  3.0372340425531914|
+--------------------+--------------------+
only showing top 20 rows

['Admin2',
 'Combined_Key',
 'Confirmed',
 'Country_Region',
 'Date',
 'Deaths',
 'FIPS',
 'Lat',
 'Long_',
 'Province_State',
 'UID',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_ipython_key_completions_',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_show_string',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'code3',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'dropDuplicatesWithinWatermark',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'iso2',
 'iso3',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'na',
 'observe',
 'offset',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withColumnsRenamed',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

<h1>rollup -->Creates subtotal + grand total

In [37]:
from pyspark.sql.functions import sum

df_new.rollup("Province_state").sum("Deaths").show(3)

+--------------+-----------+
|Province_state|sum(Deaths)|
+--------------+-----------+
|        Nevada|      45082|
|Virgin Islands|        571|
| New Hampshire|      25438|
+--------------+-----------+
only showing top 3 rows

<h2>Mulitiple Aggregations

In [38]:
from pyspark.sql.functions import avg,sum,max

df.groupBy("Province_state").agg(avg("Deaths").alias("Avg_Deaths"), max("Deaths").alias("max_Deaths"),sum("Deaths").alias("Total_Deaths")).show()

+--------------------+--------------------+----------+------------+
|      Province_state|          Avg_Deaths|max_Deaths|Total_Deaths|
+--------------------+--------------------+----------+------------+
|                Utah|  2.0455721679125936|       160|       14229|
|              Hawaii|  1.5220364741641337|        47|        2003|
|           Minnesota|   6.446330384891226|       807|      107860|
|                Ohio|   13.17677304964539|       494|      222951|
|Northern Mariana ...|  1.2234042553191489|         2|         230|
|            Arkansas|  1.3243299253937553|        71|       19171|
|              Oregon|  2.5426931690929453|        82|       18165|
|               Texas|   4.374729886968085|       655|      210547|
|        North Dakota|  1.2323984526112186|      1059|       12743|
|        Pennsylvania|   41.41697502312673|      1678|      537261|
|         Connecticut|  199.12021276595743|      1410|      374346|
|            Nebraska|  1.0100223964165733|       121|       18039|
|             Vermont|  1.9321808510638299|        81|        5812|
|      American Samoa|                 0.0|         0|           0|
|              Nevada|  12.620940649496081|       606|       45082|
|         Puerto Rico|1.329787234042553...|         1|           2|
|          Washington|   16.20329527763363|       645|      124895|
|            Illinois|   27.70417348608838|      4842|      541672|
|            Oklahoma|  2.3882305413412337|        90|       35470|
|      Virgin Islands|  3.0372340425531914|         7|         571|
+--------------------+--------------------+----------+------------+
only showing top 20 rows

In [39]:
df3=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\country_wise_latest.csv",header=True,inferSchema=True)

from pyspark.sql.functions import avg

df3.groupBy('WHO Region').agg(avg('Deaths').alias("Avg Deaths")).show()

+--------------------+------------------+
|          WHO Region|        Avg Deaths|
+--------------------+------------------+
|              Europe|3770.4285714285716|
|     Western Pacific|          515.5625|
|              Africa|254.64583333333334|
|Eastern Mediterra...|1742.6818181818182|
|            Americas| 9792.342857142858|
|     South-East Asia|            4134.9|
+--------------------+------------------+

In [40]:
%whos

Variable       Type            Data/Info
----------------------------------------
Row            type            <class 'pyspark.sql.types.Row'>
SparkSession   type            <class 'pyspark.sql.session.SparkSession'>
avg            function        <function avg at 0x000002B3FE9468E0>
col            function        <function col at 0x000002B3FE945260>
columns        list            n=2
count          function        <function count at 0x000002B3FE946660>
data1          list            n=2
df             DataFrame       DataFrame[UID: int, iso2:<...>firmed: int, Deaths: int]
df1            DataFrame       DataFrame[Name: string, Age: bigint]
df2            DataFrame       DataFrame[UID: int, iso2:<...> int, updated_code3: int]
df3            DataFrame       DataFrame[Country/Region:<...>uble, WHO Region: string]
df_new         DataFrame       DataFrame[UID: int, iso2:<...>firmed: int, Deaths: int]
lit            function        <function lit at 0x000002B3FE945120>
max            function        <function max at 0x000002B3FE946160>
spark          SparkSession    <pyspark.sql.session.Spar<...>ct at 0x000002B3FE9BBD10>
sum            function        <function sum at 0x000002B3FE9467A0>
when           function        <function when at 0x000002B3FE964900>

In [ ]:
from pyspark.sql import DataFrame

def list_dataframes(scope=globals()):
    print("📋 Available DataFrames:")
    found = False
    for var_name, var_val in scope.items():
        if isinstance(var_val, DataFrame):
            found = True
            print(f" {var_name} | Rows: {var_val.count()} | Columns: {len(var_val.columns)}")
    if not found:
        print(" No DataFrames found in this scope.")

In [45]:
# # df1 = spark.range(10)
# # df2 = spark.createDataFrame([(1, 'Alice'), (2, 'Bob')], ['id', 'name'])

# list_dataframes()

In [46]:
from pyspark.sql import DataFrame

only_dfs = {name: val for name, val in globals().items() if isinstance(val, DataFrame)}

for name in only_dfs:
    print(name)

df
_11
df1
df3
df_new
df2

<h1>Joins

In [76]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("joins").getOrCreate()

df_worldom=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\worldometer_data.csv",header=True,inferSchema=True)

df_countrywise=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\country_wise_latest.csv",header=True,inferSchema=True)

df_worldom.show(2)
df_countrywise.show(2)

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|           USA|North America| 331198130|   5032179|    NULL|     162804|     NULL|       2576668|        NULL|    2292707|           18296|           15194|        492.0|  63139605|      190640|  Americas|
|        Brazil|South America| 212710692|   2917562|    NULL|      98644|     NULL|       2047660|        NULL|     771258|            8318|           13716|        464.0|  13206188|       62085|  Americas|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
only showing top 2 rows

+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|   Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|       Albania|     4880|   144|     2745|  1991|      117|         6|           63|              2.95|                56.25|                  5.25|               4171|          709|             17.0|              Europe|
+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 2 rows

In [72]:
#  Show the top 5 countries (from both datasets) with the highest percentage of population infected. Include total cases and population,
# and only show countries with more than 10 million population. 
from pyspark.sql.functions import col

df_worldom=df_worldom.alias("a")
df_countrywise=df_countrywise.alias("b")

df_joined=df_worldom.join(df_countrywise,col("a.Country/Region")== col("b.Country/Region"),"inner")

df_joined.filter(col("a.Population")>1000000)\
.withColumn("InfectionRate",(col("a.TotalCases")*100 / col("a.Population")))\
.select(col("a.Country/Region").alias("Country"),\
col("a.Population"),\
col("a.TotalCases"),\
col("InfectionRate"))\
.orderBy(col("InfectionRate").desc()).show(5)

+-------+----------+----------+------------------+
|Country|Population|TotalCases|     InfectionRate|
+-------+----------+----------+------------------+
|  Qatar|   2807805|    112092|3.9921575750452756|
|Bahrain|   1706669|     42889|2.5130239079751258|
|  Chile|  19132514|    366671|1.9164810228284688|
| Panama|   4321282|     71418|1.6527039892328248|
| Kuwait|   4276658|     70045|1.6378443167538765|
+-------+----------+----------+------------------+
only showing top 5 rows

In [85]:
# List countries where the number of deaths per million exceeds the average deaths per million (globally), 
# and show total cases and death rate, ordered by death rate descending.
from pyspark.sql.functions import col

df_countrywise.show(1)

df_worldom.show(2)

df_worldom=df_worldom.alias("a")
df_countrywise=df_countrywise.alias("b")

df_join=df_worldom.join(df_countrywise,col("a.Country/Region") == col("b.Country/Region"))

df_global_avg=df_worldom.select(avg(col("a.Deaths/1M pop"))).collect()[0][0]

df_filtered=df_worldom.filter(col("a.Deaths/1M pop") > df_global_avg)

df_death_rate=df_filtered.withColumn("Death_rate(%)",col("a.TotalDeaths")*100 /col("a.TotalCases"))

df_result=df_death_rate.select(col("a.Country/Region"),col("a.TotalCases"),col("Death_rate(%)")).orderBy(col("Death_rate(%)").desc()).show()

+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|   Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
+--------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 1 row

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
|           USA|North America| 331198130|   5032179|    NULL|     162804|     NULL|       2576668|        NULL|    2292707|           18296|           15194|        492.0|  63139605|      190640|  Americas|
|        Brazil|South America| 212710692|   2917562|    NULL|      98644|     NULL|       2047660|        NULL|     771258|            8318|           13716|        464.0|  13206188|       62085|  Americas|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+----------+
only showing top 2 rows

+---------------+----------+------------------+
| Country/Region|TotalCases|     Death_rate(%)|
+---------------+----------+------------------+
|         France|    195633|15.494318443207435|
|             UK|    308134| 15.06260263391901|
|          Italy|    249204|14.119757307266337|
|        Belgium|     71158|13.855083054610866|
|         Mexico|    462690|10.918109317253453|
|    Netherlands|     56982|10.798146783194692|
|   Sint Maarten|       160|              10.0|
|          Spain|    354530| 8.038811948213127|
|Channel Islands|       597| 7.872696817420436|
|     Montserrat|        13|7.6923076923076925|
|         Canada|    118561| 7.562351869501775|
|    Isle of Man|       336| 7.142857142857143|
|         Sweden|     81967| 7.034538289799554|
|        Ireland|     26372| 6.704080084938571|
|        Ecuador|     90537| 6.491268763047152|
|     San Marino|       699| 6.008583690987124|
|        Bermuda|       157| 5.732484076433121|
|           Iran|    320117| 5.615446852244648|
|        Andorra|       944| 5.508474576271187|
|    Switzerland|     36108| 5.497396698792511|
+---------------+----------+------------------+
only showing top 20 rows

<h1>Window Functions

from pyspark.sql.window import Window
from pyspark.sql.functions import *


Window.partitionBy("col1").orderBy("col2")

In [93]:
# For each country,
#  list the most recent date when COVID cases were reported (based on date column),
#  and show the number of confirmed cases on that day.


df_covid_19=spark.read.csv(r"C:\Users\Lenovo\Downloads\dyd\data\covid_19_clean_complete.csv",header=True,inferSchema=True)
# df_worldom.show(1)
# df_countrywise.show(1)
# df_covid_19.show(1)

from pyspark.sql.window import Window
from pyspark.sql.functions import *



# Define window spec: partition by country, order by date descending (latest first)
window_spec = Window.partitionBy("Country/Region").orderBy(col("Date").desc())

# Apply row_number and filter to only keep the latest row per country
latest_cases = df_covid_19.withColumn("row_num", row_number().over(window_spec)) \
    .filter(col("row_num") == 1) \
    .select("Country/Region", "Date", "Confirmed")

latest_cases.show()

+-------------------+----------+---------+
|     Country/Region|      Date|Confirmed|
+-------------------+----------+---------+
|        Afghanistan|2020-07-27|    36263|
|            Albania|2020-07-27|     4880|
|            Algeria|2020-07-27|    27973|
|            Andorra|2020-07-27|      907|
|             Angola|2020-07-27|      950|
|Antigua and Barbuda|2020-07-27|       86|
|          Argentina|2020-07-27|   167416|
|            Armenia|2020-07-27|    37390|
|          Australia|2020-07-27|      113|
|            Austria|2020-07-27|    20558|
|         Azerbaijan|2020-07-27|    30446|
|            Bahamas|2020-07-27|      382|
|            Bahrain|2020-07-27|    39482|
|         Bangladesh|2020-07-27|   226225|
|           Barbados|2020-07-27|      110|
|            Belarus|2020-07-27|    67251|
|            Belgium|2020-07-27|    66428|
|             Belize|2020-07-27|       48|
|              Benin|2020-07-27|     1770|
|             Bhutan|2020-07-27|       99|
+-------------------+----------+---------+
only showing top 20 rows

In [94]:
#Rank countries by total confirmed cases globally.


from pyspark.sql.functions import rank

window_spec = Window.orderBy(col("Confirmed").desc())

df_countrywise.withColumn("rank", rank().over(window_spec)) \
    .select("Country/Region", "Confirmed", "rank") \
    .show()

+--------------+---------+----+
|Country/Region|Confirmed|rank|
+--------------+---------+----+
|            US|  4290259|   1|
|        Brazil|  2442375|   2|
|         India|  1480073|   3|
|        Russia|   816680|   4|
|  South Africa|   452529|   5|
|        Mexico|   395489|   6|
|          Peru|   389717|   7|
|         Chile|   347923|   8|
|United Kingdom|   301708|   9|
|          Iran|   293606|  10|
|      Pakistan|   274289|  11|
|         Spain|   272421|  12|
|  Saudi Arabia|   268934|  13|
|      Colombia|   257101|  14|
|         Italy|   246286|  15|
|        Turkey|   227019|  16|
|    Bangladesh|   226225|  17|
|        France|   220352|  18|
|       Germany|   207112|  19|
|     Argentina|   167416|  20|
+--------------+---------+----+
only showing top 20 rows

In [95]:
#Rank countries by death rate (TotalDeaths / TotalCases * 100)


from pyspark.sql.functions import dense_rank, expr

df_with_rate = df_countrywise.withColumn("DeathRate", (col("Deaths") * 100) / col("Confirmed"))
window_spec = Window.orderBy(col("DeathRate").desc())

df_with_rate.withColumn("dense_rank", dense_rank().over(window_spec)) \
    .select("Country/Region", "Deaths", "Confirmed", "DeathRate", "dense_rank") \
    .show()

+--------------+------+---------+------------------+----------+
|Country/Region|Deaths|Confirmed|         DeathRate|dense_rank|
+--------------+------+---------+------------------+----------+
|         Yemen|   483|     1691|28.562980484920164|         1|
|United Kingdom| 45844|   301708|15.194824134593713|         2|
|       Belgium|  9822|    66428|14.785933642439934|         3|
|         Italy| 35112|   246286|14.256595990027854|         4|
|        France| 30212|   220352|13.710790008713332|         5|
|       Hungary|   596|     4448|13.399280575539569|         6|
|   Netherlands|  6160|    53413|11.532772920450078|         7|
|        Mexico| 44022|   395489|11.131030193001575|         8|
|         Spain| 28432|   272421|10.436787178668311|         9|
|Western Sahara|     1|       10|              10.0|        10|
|          Chad|    75|      922| 8.134490238611713|        11|
|        Canada|  8944|   116458| 7.680021982173831|        12|
|        Sweden|  5700|    79395| 7.179293406385793|        13|
|       Ecuador|  5532|    81161|6.8160816155542685|        14|
|       Ireland|  1764|    25892| 6.812915186157887|        15|
|      Barbados|     7|      110| 6.363636363636363|        16|
|         Sudan|   720|    11424| 6.302521008403361|        17|
|       Liberia|    72|     1167| 6.169665809768637|        18|
|         Niger|    69|     1132| 6.095406360424028|        19|
|    San Marino|    42|      699| 6.008583690987124|        20|
+--------------+------+---------+------------------+----------+
only showing top 20 rows

In [97]:
#For each country, calculate the day-over-day change in confirmed cases.


from pyspark.sql.functions import lag

window_spec = Window.partitionBy("Country/Region").orderBy("Date")

df_covid_19.withColumn("PreviousCases", lag("Confirmed", 1).over(window_spec)) \
    .withColumn("DailyChange", col("Confirmed") - col("PreviousCases")) \
    .select("Country/Region", "Date", "Confirmed", "PreviousCases", "DailyChange") \
    .show()

+--------------+----------+---------+-------------+-----------+
|Country/Region|      Date|Confirmed|PreviousCases|DailyChange|
+--------------+----------+---------+-------------+-----------+
|   Afghanistan|2020-01-22|        0|         NULL|       NULL|
|   Afghanistan|2020-01-23|        0|            0|          0|
|   Afghanistan|2020-01-24|        0|            0|          0|
|   Afghanistan|2020-01-25|        0|            0|          0|
|   Afghanistan|2020-01-26|        0|            0|          0|
|   Afghanistan|2020-01-27|        0|            0|          0|
|   Afghanistan|2020-01-28|        0|            0|          0|
|   Afghanistan|2020-01-29|        0|            0|          0|
|   Afghanistan|2020-01-30|        0|            0|          0|
|   Afghanistan|2020-01-31|        0|            0|          0|
|   Afghanistan|2020-02-01|        0|            0|          0|
|   Afghanistan|2020-02-02|        0|            0|          0|
|   Afghanistan|2020-02-03|        0|            0|          0|
|   Afghanistan|2020-02-04|        0|            0|          0|
|   Afghanistan|2020-02-05|        0|            0|          0|
|   Afghanistan|2020-02-06|        0|            0|          0|
|   Afghanistan|2020-02-07|        0|            0|          0|
|   Afghanistan|2020-02-08|        0|            0|          0|
|   Afghanistan|2020-02-09|        0|            0|          0|
|   Afghanistan|2020-02-10|        0|            0|          0|
+--------------+----------+---------+-------------+-----------+
only showing top 20 rows

In [99]:
#For each country, identify the next day's projection of deaths.

from pyspark.sql.functions import lead

window_spec = Window.partitionBy("Country/Region").orderBy("Date")

df_covid_19.withColumn("NextDayDeaths", lead("Deaths", 1).over(window_spec)) \
    .select("Country/Region", "Date", "Deaths", "NextDayDeaths") \
    .show()

+--------------+----------+------+-------------+
|Country/Region|      Date|Deaths|NextDayDeaths|
+--------------+----------+------+-------------+
|   Afghanistan|2020-01-22|     0|            0|
|   Afghanistan|2020-01-23|     0|            0|
|   Afghanistan|2020-01-24|     0|            0|
|   Afghanistan|2020-01-25|     0|            0|
|   Afghanistan|2020-01-26|     0|            0|
|   Afghanistan|2020-01-27|     0|            0|
|   Afghanistan|2020-01-28|     0|            0|
|   Afghanistan|2020-01-29|     0|            0|
|   Afghanistan|2020-01-30|     0|            0|
|   Afghanistan|2020-01-31|     0|            0|
|   Afghanistan|2020-02-01|     0|            0|
|   Afghanistan|2020-02-02|     0|            0|
|   Afghanistan|2020-02-03|     0|            0|
|   Afghanistan|2020-02-04|     0|            0|
|   Afghanistan|2020-02-05|     0|            0|
|   Afghanistan|2020-02-06|     0|            0|
|   Afghanistan|2020-02-07|     0|            0|
|   Afghanistan|2020-02-08|     0|            0|
|   Afghanistan|2020-02-09|     0|            0|
|   Afghanistan|2020-02-10|     0|            0|
+--------------+----------+------+-------------+
only showing top 20 rows

In [103]:
#Divide countries into 4 quartiles based on total confirmed cases.


from pyspark.sql.functions import ntile

window_spec = Window.orderBy(col("Confirmed").desc())

df_countrywise.withColumn("Quartile", ntile(4).over(window_spec)) \
    .select("Country/Region", "Confirmed", "Quartile").offset(125) \
    .show()

+--------------+---------+--------+
|Country/Region|Confirmed|Quartile|
+--------------+---------+--------+
|       Namibia|     1843|       3|
|  Sierra Leone|     1783|       3|
|         Benin|     1770|       3|
|    Mozambique|     1701|       3|
|         Yemen|     1691|       3|
|   New Zealand|     1557|       3|
|      Suriname|     1483|       3|
|       Tunisia|     1455|       3|
|        Latvia|     1219|       3|
|       Uruguay|     1202|       3|
|        Jordan|     1176|       3|
|       Liberia|     1167|       3|
|       Georgia|     1137|       3|
|         Niger|     1132|       3|
|        Uganda|     1128|       3|
|  Burkina Faso|     1100|       3|
|        Cyprus|     1060|       4|
|        Angola|      950|       4|
|          Chad|      922|       4|
|       Andorra|      907|       4|
+--------------+---------+--------+
only showing top 20 rows